server {
  listen 80;
  server_name {{contents_name}}.makedara.work;

  charset UTF-8;
  access_log /home/{{user}}/logs/{{contents_name}}.access.log main;
  error_log /home/{{user}}/logs/{{contents_name}}.error.log warn;
  root /home/{{user}}/www/{{contents_name}}/public;
  index index.php index.html;

  location / { 
    try_files $uri $uri/ /index.php?$query_string;
  }

  location ~ \.php$ {
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_pass unix:/var/run/php-fpm.sock;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param PATH_INFO $fastcgi_path_info;
    include fastcgi_params;
  }
}
