<VirtualHost *:80>
  SetEnvIf Request_URI "\.(jpg|png|gif|css|js|ico)$" nolog

  ServerName {{contents_domain}}
  DocumentRoot "/home/{{user}}/www/{{contents_name}}/public"
  DirectoryIndex index.html index.php

  ErrorLog "|/usr/sbin/rotatelogs /home/{{user}}/logs/{{contents_name}}_error_%Y%m%d.log 86400 540"
  CustomLog "|/usr/sbin/rotatelogs /home/{{user}}/logs/{{contents_name}}_access_%Y%m%d.log 86400 540" combined env=!nolog

  <Directory "/home/{{user}}/www/{{contents_name}}/public">
    Options FollowSymLinks
    AllowOverride All
    Require all granted
  </Directory>
</VirtualHost>
